<html>
    <head>
        <style>
            pre{
                background: #eee;
                border: solid 1px #ccc;
                padding: 1em;
            }
        </style>
    </head>
    <body>
        
        <h1>Author Name: {{ .Title }}</h1>
        
        <div>
        {{ .Content }}
        </div>

        <h2>All Resources</h2>
        {{ range .Resources }}
            <li><a href="{{ .RelPermalink }}">{{ .ResourceType | title }}</a></li>
        {{ end }}

        <h2>Images Thumbnails</h2>
        {{ range .Resources.ByType "image" }}
            <img src="{{ (.Fill "100x100").RelPermalink }}" />
        {{ end }}
    </body>
</html>